#main {
    height: auto;
    width: 100%;
    margin-top: 4.5rem;
    /*background-color: red;*/
}

#container {
    padding: 2%;
    margin: 15%;
    border-radius: 20px;
    background-color: #242424;
    margin-top: 10%;
}

#innerContainer {
    display: flex;
    border-radius: 20px;
    padding: 7%;
    background-color: #fcba03;
}

#table {
    border-color: #242424;
}

#dataDiv {
    width: 100%;
    margin-right: 20%;
}

#infoList {
    list-style: none;
    padding: 0;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 1.5rem;
}

#submitBt {
    margin-top: 5%;
    display: flex;
}